@{
    ViewBag.Title = "Welcome to Personal Care Assistant";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


<p><h4>Our Mission is to make sure user can fully understand their possible Diseases and provide extra help tips and "POSSIBLE" solution</h4>  </p>
<br />
<br />


<h2> Follow the Instruction below to navigate around the website!!!!!</h2>
<h4>
    All Function can be found on top of the page which includes<br />
    <br />
    1. Search Disease: This page can let user search all the Disease/Illness in our database. It will provide description of the Disease/Illness<br />
    <br />
    2. All Symptoms: This page let user input their symptoms and it will store it into our database <br />
    <br />
    3.User Account: This page will display all the user information, also allow user to modify user information <br />
    <br />
    4.User History: This page will display some user information AND all the symptoms <br />
    <br />
    5.<br />












    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    **Advanced Function: All Symptoms <br />
    **Join function: User History<br />
</h4>



<p>Created By Team Foodie</p>
